<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "file:/log4j/src/java/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

   <appender name="Console" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%-5p] (%F:%L) (%d) - %m%n"/>
      </layout>
   </appender>

<!-- FileAppLogger -->
   <appender name="FileAppLogger" class="org.apache.log4j.FileAppender">
      <param name="file" value="bot-chat.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%-5p] (%F:%L) (%d) - %m%n"/>
      </layout>
   </appender>

   <appender name="BotUserAppLogger" class="org.apache.log4j.FileAppender">
      <param name="file" value="bot-user-chat.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%-5p] (%F:%L) (%d) - %m%n"/>
      </layout>
   </appender>

   <logger name="br.com.insite.inchat4.server.BotUser">
     <level value="info"/>
     <appender-ref ref="BotUserAppLogger"/>
   </logger>
  
   <root>
     <priority value ="info"/>
     <appender-ref ref="FileAppLogger"/>
     <appender-ref ref="Console" />
   </root>


</log4j:configuration>
